<p style="color: green"><%= notice %></p>

<% content_for :title, "Courses" %>

<%= turbo_frame_tag :new_course do %>
  <%= link_to "New course", new_course_path, class: "btn btn-primary float-end" %>
<% end %>

<h1>Courses</h1>

<%= turbo_frame_tag :courses do %>
  <% @courses.each_with_index do |course, i| %>
    <%= turbo_frame_tag course do %>
      <%= render course %>
    <% end %>
  <% end %>
<% end %>


