<div id="<%= dom_id instructor %>">
  <p>
    <strong>Wno:</strong>
    <%= instructor.wno %>
  </p>

  <p>
    <strong>First name:</strong>
    <%= instructor.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= instructor.last_name %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= instructor.title %>
  </p>

</div>
