<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Scheduler" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Scheduler</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <%= link_to "Semesters", semesters_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Courses", courses_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Instructors", instructors_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Sections", sections_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Build schedule", schedule_semester_path(Semester.first), class: "nav-link" %>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <%= yield %>
    </div>
    
  </body>
</html>
