<div id="<%= dom_id section %>">
  <p>
    <strong>Semester:</strong>
    <%= section.semester_id %>
  </p>

  <p>
    <strong>Course:</strong>
    <%= section.course_id %>
  </p>

  <p>
    <strong>Instructor:</strong>
    <%= section.instructor_id %>
  </p>

  <p>
    <strong>Modality:</strong>
    <%= section.modality %>
  </p>

  <p>
    <strong>Days:</strong>
    <%= section.days %>
  </p>

  <p>
    <strong>Hours:</strong>
    <%= section.hours %>
  </p>

  <p>
    <strong>Room:</strong>
    <%= section.room %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= section.active %>
  </p>

</div>
