<p style="color: green"><%= notice %></p>

<% content_for :title, "Semesters" %>

<h1>Semesters</h1>

<%= turbo_frame_tag "new_semester" do %>
  <%= link_to "New semester", new_semester_path, class: "btn btn-primary", data: {turbo: user_signed_in? } %>
<% end %>

<%= turbo_frame_tag "semesters" do %>
  <% @semesters.each do |semester| %>
    <%= render semester %>
  <% end %>
<% end %>


